<br>
<div class="container">

    <div class="text-center">
        <h2>Escoge el tipo de publicacion</h2>
    </div>


    <div class="row contenedorPublicación">

        <div class="col-4">

            <div class="row">
                <h3>Animal en adopción</h3>
            </div>
            <div class="row">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
            </div>
            <div class="row">
                <div class="col"></div>

                <div class="col"></div>
            </div>

        </div>

        <div class="col-4">
            <div class="row">
                <h3>Animal encontrado</h3>
            </div>
            <div class="row">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
            </div>
            <div class="row">
                <div class="col"></div>

                <div class="col"></div>
            </div>


        </div>

        <div class="col-4">
            <div class="row">
                <h3>Animal perdido</h3>
            </div>
            <div class="row">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
            </div>
            <div class="row">
                <div class="col"></div>

                <div class="col"></div>

            </div>

        </div>


    </div>

    <div class="row contenedorPub">
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>


</div>