<body>
        <section id="Usuario-Propio">
            <div class="Contenedores">
                <div class="ContenedorOpciones">
                    <div class="ImagenPerfil">
                        <img id="imgUsuario" [src]="url1" width="75%" height="75%">
                        <h3>{{nombreUsuario}}</h3>
                    </div>
                    <hr>
                    <div class="Opciones">
                        <a [routerLink]="['/Perfil-Usuario']" >Información</a>
                        <a [routerLink]="['/Perfil-Publicaciones']" >Publicaciones</a>
                        <a [routerLink]="['/Perfil-Chats']" >Chats</a>
                    </div>
                    <hr>
                    <div class="EditarPerfil">
                        <h3>Editar perfil</h3>
                    </div>
                </div>
                <div class="ContenedorPublicaciones">
                    <div class="Publicacion">
                        <div class="Descripcion-Publicacion">
                            <div class="Titulo-Publicacion">
                                <h1>{{tituloPublicacion}}</h1>
                                <h2>{{descripcionPublicacion}}</h2>
                            </div>
                            <div class="Opciones-Publicacion">
                                <div class="Chats-Publicacion">
                                    <a [routerLink]="['/Perfil']" >Chats</a>
                                </div>
                                <div class="OtrasOpciones-Publicacion">
                                    <div class="Editar-Publicacion">
                                        <a [routerLink]="['/Perfil']" >Editar</a>
                                    </div>
                                    <div class="Borrar-Publicacion">
                                        <a [routerLink]="['/Perfil']" >Borrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Imagen-Publicacion">
                            <img id="imgUsuario" [src]="url1" width="75%" height="75%">
                        </div>
                    </div>
                </div>
                    
            </div>
        
        </section>
        
            
        </body>
        
        
        