<head>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
</head>
<div class="fondo">
    <nav class="navbar navbar-expand-lg navbar-default">
        <a class="navbar-brand" href="Principal">PetFriend</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <br>
                    <a class="nav-primary" href="#" style="color:#FFFFFF;">Adopta <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <br>
                    <a class="nav-primary" href="#" style="color:#FFFFFF;">Encuentra</a>
                </li>
                <li class="nav-item">
                    <br>
                    <a class="nav-primary" href="#" style="color:#FFFFFF;">Publica</a>
                </li>
                <li class="nav-item">
                    <br>
                    <a class="nav-primary" href="#" style="color:#FFFFFF;">Servicios</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li><a [routerLink]="['/IniciarSesion']" class="btn btn-primary">Registrarse</a></li>
                <li><a [routerLink]="['/IniciarSesion']" class="btn btn-secondary">Iniciar Sesión</a></li>
            </ul>

        </div>
    </nav>
</div>
<router-outlet></router-outlet>