<body>
        <section id="Usuario-Propio">
            <div class="Contenedores">
                <div class="formPrincipal">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-16 " type="search" placeholder="Buscar animales, refugios o tiendas" aria-label="Search" [(ngModel)]="nombreBusqueda">
                        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Buscar</button>
                    </form>
                    <h1>▲ Busqueda avanzada</h1>
                </div>
                <div class="ContenedorAvanzado">
                    <div class="Servicios" *ngIf="show">
                        <h2>Hola</h2>
                    </div>
                    <h2>qqq</h2>
                </div>        
            </div>
        </section>
            
                
    </body>
            
            
            