<body>
        <section id="Usuario-Propio">
            <div class="Contenedores">
                <div class="formPrincipal">
                    <label class="boton">
                            <input type="checkbox" data-md-icheck (change)="toggleVisibility($event)"/>
                            <button (click)="cambiarMetodo()" class="btn btn-outline-success my-2 my-sm-0 " type="submit" value="busq"><span class="checkmark">▲ Busqueda avanzada</span></button>
                    </label>
                </div>
                <div class="ContenedorAvanzado">
                    <div class="mostrarBasico" *ngIf="Basico">
                        <app-encontrar-basico></app-encontrar-basico>
                    </div>
                    <div class="mostrarAvanzado" *ngIf="!Basico">
                            <app-encontrar-avanzado></app-encontrar-avanzado>

                    </div>
                </div>        
            </div>
            
        </section> 
         
    </body>
   
            
            
            