

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url('\..\..\..\assets\fondo.jpg');
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.Contenedores{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.formPrincipal {
    margin: 0 auto;
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: center;
    margin-top: 20px;
}

.formPrincipal input{
    width: 300px;
}

.formPrincipal button{
    background-color: rgba(12, 161, 24, 0.822); 
    color: rgba(255, 255, 255, 0.952);
    font-weight: bolder;
}

.formPrincipal h1{
    margin-top: 15px;
    font-size: 20px;
}

.ContenedorAvanzado{
    background-color: rgba(90, 105, 120, 0.25);
    width: 90%;
    height: 550px;
    margin: 10px 20px 20px 20px;
    border-radius: 35px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.ContenedorPublicaciones{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.Publicacion img{
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    margin: auto;
    width: 250px;  
}

.Publicacion{
    border-color: teal;
    border: 3px;
}


