PublicacionAnimal
PublicacionEncontrado
PublicacionPerdido
PublicacionAdopcion
InteraccionUsuarios
Chat
ChatProveedoresDeServicio
Reporte
ReportarPublicacion
ReportarPerfil
Autenticacion
Normal
Refugios
Ubicación
Notificación
NotificaciónDeChat
NotificaciónDeAnimalEncontrado
NotificaciónDeAnimalPerdido
Verificación
VerificaciónReporte
