<body>
        <section id="Usuario-Propio">
            <div class="Contenedores">
                <div class="formPrincipal">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-16 " placeholder="Buscar animales, refugios o tiendas" aria-label="Search">
                        <button (click)="buscar()" class="btn btn-outline-success my-2 my-sm-0 " type="submit" value="busq">Buscar</button>
                    </form>
                    <label class="boton">
                            <input type="checkbox" data-md-icheck (change)="toggleVisibility($event)"/>
                            <button (click)="cambiarMetodo()" class="btn btn-outline-success my-2 my-sm-0 " type="submit" value="busq"><span class="checkmark">▲ Busqueda avanzada</span></button>
                    </label>
                </div>
                <div class="ContenedorAvanzado">
                    <div class="mostrarBasico" *ngIf="Basico">
                            <app-adopta-basico></app-adopta-basico>
                    </div>
                    <div class="mostrarAvanzado" *ngIf="!Basico">
                            <app-adopta-avanzado (salidaEspecie) = "especie = $event"
                                     (salidaRaza) = "raza = $event"
                                     (salidaEdad) = "edad = $event"
                                     (salidaColor1) = "color1 = $event"
                                     (salidaColor2) = "color2 = $event"
                                     (salidaGenero) = "genero = $event"
                                     (salidaEsterilizado) = "esterilizado = $event"></app-adopta-avanzado>

                    </div>
                </div>        
            </div>
            
        </section>  
    </body>
            
            
            