<div class="mainPrincipal">
    <div class="formPrincipal">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-16 " type="search" placeholder="Buscar animales, refugios o tiendas" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        </form>
    </div>
</div>
<br>
<br>
<div class="container">

    <div class="text-center">
        <h3>Escoge el tipo de publicacion</h3>
    </div>

    <br>
    <br>
    <div class="row">

        <div class="col-4">

            <div class="row">
                <h5>Animal en adopción</h5>
            </div>
            <div class="row">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"> <button type="button" class="btn btn-success btn-lg" style="margin-top: 200px">Crear</button></div>
                <div class="col"></div>
            </div>

        </div>

        <div class="col-4">
            <div class="row">
                <h5>Animal encontrado</h5>
            </div>
            <div class="row">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"> <button type="button" class="btn btn-success btn-lg" style="margin-top: 200px">Crear</button></div>
                <div class="col"></div>
            </div>


        </div>

        <div class="col-4">
            <div class="row">
                <h5>Animal perdido</h5>
            </div>
            <div class="row">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"> <button type="button" class="btn btn-success btn-lg" style="margin-top: 200px">Crear</button></div>
                <div class="col"></div>

            </div>

        </div>


    </div>
    <br>
    <br>
    <div class="row">
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>


</div>