<!DOCTYPE html>
<html lang="es">

<head>
<link rel="stylesheet" href="publicacion-final.component.css">
<meta charset="utf-8">
<title>PetFriend - publicación</title>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="owl/owl.carousel.min.css">
<link rel="stylesheet" href="owl/owl.theme.default.min.css">
</head>

<body>

<header>
  <div class="menu">
    <div class="contenedor">
      <p class="logo">Mi nombre</p>
      <nav>
        <ul>
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main>

<section id="publicacion">
  <div class="contenedorPublicación">
    <h1>Titulo</h1>
    <div class="datos">
      <div class="tituloDatos">
        <h2>Nombre:</h2>
          <h3>NombreEjemplo</h3>
        <h2>Especie:</h2>
          <h3>EspecieEjemplo</h3>
        <h2>Edad:</h2>
          <h3>EdadEjemplo</h3>
        <h2>Genero:</h2>
          <h3>GeneroEjemplo</h3>
        <h2>Raza:</h2>
          <h3>RazaEjemplo</h3>
        <h2>Color:</h2>
          <h3>ColorEjemplo1</h3>
          <h3>ColorEjemplo2</h3>
        <h2>Esterilizado:</h2>
          <h3>EsterilizadoEjemplo</h3>
        <h2>Localidad:</h2>
          <h3>LocalidadEjemplo</h3>
        <h2>Descripción:</h2>
          <h3>DescripciónEjemplo</h3>
      </div>
      <div class="segundaColumna">
        <div class="fotosDatos">
          <div class="fotoPrincipal">
            <img id="myImg" src="computadoras.jpg"  width="465" height="465">
              <!-- The Modal -->
              <div id="myModal" class="modal">
                <span class="close">×</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
              </div>
          </div>
          <div class="otraFotos">
            <img id="myImg" src="fondo.jpg" width="150" height="150">
            <img id="myImg" src="fondo.jpg" width="150" height="150">
            <img id="myImg" src="fondo.jpg" width="150" height="150">
          </div>
        </div>
        <div class="botonComunicarse">
          <input type="submit" value="Comunicarse con propietario">
        </div>
        <div class="botonEditar">
          <input type="submit" value="Editar">
        </div>
      </div>
    </div>
  </div>

</section>




</main>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>

<script>
$(document).ready(function(){
$(window).scroll(function(){
  scroll = $(window).scrollTop();
  if(scroll > 100){
    $('.menu').css({"position":"fixed"});
    $('.menu').css({"width":"100%"});
    $('.menu').css({"top":"0"});
    $('.menu').css({"background":"#fff"});
    $('.menu a').css({"color":"#000"});
    $('.logo').css({"color":"#000"});
    $('.menu').css({"box-shadow":"rgba(0,0,0,0.22) 6px 1px 1px"});
    $('.menu').css({"z-index":"100"});
  }
  else{
    $('.menu').css({"position":"relative"});
    $('.menu').css({"background":"transparent"});
    $('.menu').css({"box-shadow":"0 0 0"});
    $('.menu a').css({"color":"#fff"});
    $('.logo').css({"color":"#fff"});
  }
})

$('.menu-icon').click(function(){
  $('header nav').slideToggle();
})

})

</script>



</body>

</html>
